@import 'tailwindcss';
@import 'tw-animate-css';
@import './reset.css';
@import './theme.css';

.game-canvas {
  display: flex;
  align-items: center;
  position: relative;
  canvas {
    display: block;
    width: 100%;
    height: auto;
  }
  .index-left,
  .index-right {
    position: absolute;
    height: 35%;
    aspect-ratio: 213/169;
    pointer-events: none;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('@/assets/index.webp');
      background-size: 100% 100%;
    }
  }

  .index-left {
    left: -5%;
  }
  .index-right {
    right: -5%;
    &::after {
      transform: scaleX(-1);
    }
  }
}
