@import 'tailwindcss';
@import 'tw-animate-css';
@import './reset.css';
@import './theme.css';

.game-container {
  --color-body: #fcfbfe;
  --color-dir: oklch(0.577 0.245 27.325);
  background-color: var(--color-dir);
  .game-canvas {
    display: flex;
    align-items: center;
    position: relative;
    canvas {
      display: block;
      width: 100%;
      height: auto;
    }
    .index-left,
    .index-right {
      position: absolute;
      height: 35%;
      aspect-ratio: 213/169;
      pointer-events: none;
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('@/assets/index.webp');
        background-size: 100% 100%;
      }
    }

    .index-left {
      left: -5%;
      transform-origin: left center;
    }
    .index-right {
      right: -5%;
      transform-origin: right center;
      &::after {
        transform: scaleX(-1);
      }
    }
  }

  .both-group {
    display: flex;
    gap: 2;
    justify-content: center;
    background-color: var(--color-body);
  }

  .branch-index {
    --position-y: 0;
    display: flex;
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: 100%;
    background-image: url('@/assets/sides.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 var(--position-y);
  }
  .branch-1 {
    --position-y: 20%;
  }
  .branch-2 {
    --position-y: 40%;
  }
  .branch-3 {
    --position-y: 60%;
  }
  .branch-4 {
    --position-y: 80%;
  }
  .branch-5 {
    --position-y: 100%;
  }
}
