body {
  @apply bg-body;
}

/** 隐藏滚动条 - 全局隐藏 */
/* WebKit 浏览器 (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  @apply hidden w-0 h-0;
}

/* Firefox */
html,
body,
* {
  scrollbar-width: none;
}

/* IE 和 Edge (旧版) */
* {
  -ms-overflow-style: none;
}
